.lights {
  border-radius: 10px;
  width:300px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  &__light {
    margin-top: 10px;
  }
  &__clock {
    font-size: 24px;
    position: absolute;
    top:0;
    left:0;
    padding: 20px;
  }
  &__continue {
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
  }
}