.light {
  font-size: 100px;
  text-align: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: grey;
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  &_green {
    background-color: green;
  }
  &_red {
    background-color: red;
  }
  &_yellow {
    background-color: yellow;
  }
  &_active {
    opacity: 1;
  }
}